@font-face {
  font-display:swap;
  font-family:vazirmatn;
  font-style:normal;
  font-weight:400;
  src:url(./assets/fonts/Vazirmatn-Regular.woff2) format("woff2")
}
@font-face {
  font-display:swap;
  font-family:vazirmatn;
  font-style:bold;
  font-weight:700;
  src:url(./assets/fonts/Vazirmatn-Bold.woff2) format("woff2")
}
